/*/ Layout /*/
body {
  background: #FFF;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: .9em;
  line-height:1.5em;
  color: #333;
  width:800px;
  margin:auto;
}


/*/ Text /*/

h1 { font-weight:normal; font-size:2.5em; margin:1.5em 0 1em; }
p { margin:15.em 0; }
dl { overflow: hidden; margin:1.5em; }
dt { color:#69C; font-weight: normal; font-style: italic; float:left; clear:both; width:10em; margin:.3em 0; }
dd { float:left; margin:.3em; }


/*/ Form Elements /*/
.demo input {
  border:1px solid #999;
  padding:3px;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,.1);
}
.demo input:focus {
  border-color:#69C;
  outline:none;
  box-shadow: inset 1px 1px 10px rgba(0,102,153,.3);
}
.demo button {
  border-radius:4px;
  color:#369;
  border:1px solid #69C;
  background-color: #ebf1f6;
  background-image: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
  background-image: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  background-image: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  background-image: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  background-image: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
}
select { max-width:15em; }



/*/ Facebook /*/

.facebook button {
  background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/ym/r/NRGEePMfwP2.png);
  background-repeat: no-repeat;
  background-position: -352px -54px;
  background-color: #eee;
  border: 1px solid #999;
  border-bottom-color: #888;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
.facebook input {
  border: 1px solid #bdc7d8;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 3px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/*/ Twitter /*/

.twitter button {
  -webkit-appearance: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-image: none;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-align: center;
  -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
  background-color: rgb(1, 154, 210);
  background-image: -webkit-linear-gradient(top, rgb(51, 188, 239), rgb(1, 154, 210));
  background-repeat: repeat-x;
  border-bottom-color: rgb(5, 126, 208);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: rgb(5, 126, 208);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(5, 126, 208);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(5, 126, 208);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: right;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  left: auto;
  letter-spacing: normal;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  text-transform: none;
  top: auto;
  white-space: nowrap;
  width: 67px;
  word-spacing: 0px;
}
.twitter input {
  -webkit-appearance: none;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-image: none;
-webkit-border-vertical-spacing: 0px;
-webkit-box-shadow: rgb(238, 238, 238) 0px 1px 0px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
-webkit-rtl-ordering: logical;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.20000000298023224s;
-webkit-transition-property: background;
-webkit-transition-timing-function: linear;
-webkit-user-select: text;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
bottom: auto;
box-shadow: rgb(238, 238, 238) 0px 1px 0px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: auto;
display: block;
font-family: Arial, sans-serif;
font-size: 13px;
font-weight: normal;
height: 30px;
left: auto;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
padding-top: 4px;
position: absolute;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: 0px;
width: 204px;
word-spacing: 0px;
}
.twitter input:focus {
  -webkit-appearance: none;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-image: none;
-webkit-border-vertical-spacing: 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.046875) 0px 1px 3px 0px inset, rgba(82, 168, 236, 0.597656) 0px 0px 8px 0px;
-webkit-rtl-ordering: logical;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.20000000298023224s;
-webkit-transition-property: background;
-webkit-transition-timing-function: linear;
-webkit-user-select: text;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(86, 180, 239);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-left-color: rgb(86, 180, 239);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(86, 180, 239);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(86, 180, 239);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
bottom: auto;
box-shadow: rgba(0, 0, 0, 0.046875) 0px 1px 3px 0px inset, rgba(82, 168, 236, 0.597656) 0px 0px 8px 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
cursor: auto;
display: block;
font-family: Arial, sans-serif;
font-size: 13px;
font-weight: normal;
height: 30px;
left: auto;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(51, 51, 51);
outline-style: none;
outline-width: 0px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
padding-top: 4px;
position: absolute;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: 0px;
width: 204px;
word-spacing: 0px;
}


