  /*/ Ngin Select /*/

  .NginSelect { display:inline-block; position:relative; z-index:1; }
  .NginSelect input {
    position:absolute;
    top:0 !important;
    left:0 !important;
    right:15px !important;
    bottom:0 !important;
    line-height: inherit !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    z-index:1 !important;
  }
  .NginSelect input.NS-preview {
    z-index:3 !important;
    color:rgba(0,0,0,.4) !important;
    border-color:transparent !important;
    background:none !important;
    outline:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
  }
  .NginSelect .NS-copy {
    position:absolute;
    z-index:-1;
    top:0;
    left:-999999px;
    right:99999px;
    bottom:0;
  }
  .NginSelect .NS-handle {
    display: block;
    text-align:center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width:20px;
    z-index:-1;
    padding:0;
    line-height:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:none;
  }
  .NginSelect select {
    opacity:0;
    -webkit-appearance: menulist-button;
    border:none;
  }